:root {
  --blue:var(--blue-500);
  --red:var(--red-500);
  --green:var(--green-500);
  --orange:var(--amber-500);
  --purple:var(--violet-500);

  --color-primary:var(--red-500);
  --font-family:"Bear Sans UI", system, -apple-system, sans-serif;
  --font-family-mono:"JetBrains Mono", ui-monospace, "Menlo", monospace;
  /* --font-size: 15px; */
  --font-size-mono:0.92em;
  --font-weight:450;
  --modular-scale:1.25;
  --text-color:var(--mono-700);
  --heading-color:var(--mono-700);
  --strong-color:var(--mono-700);
  --hr-height:1px;
  --counter-color:var(--color-primary);
  --marker-color:var(--color-primary);
  --marked-background:var(--green-300);
  --max-width:100ch;
  --blockquote-padding:.5rem 1.5rem .5rem 2rem;
}

#write { caret-color:var(--color-primary); }

#write > :last-child { margin-bottom:calc(60vh - 40px); }

.md-hr {
  margin-top:3rem;
  margin-bottom:3rem;
}

p { margin: 0; }

h1 {
  margin-top: 3rem;
  margin-bottom: 2.4rem;
}
h2 {
  margin-top: 2.8rem;
  margin-bottom: 2.2rem;
}
h3 {
  margin-top: 2.6rem;
  margin-bottom: 2rem;
}
h4 {
  margin-top: 2.4rem;
  margin-bottom: 1.8rem;
}
h5 {
  margin-top: 2.2rem;
  margin-bottom: 1.6rem;
}
h6 {
  margin-top: 2rem;
  margin-bottom: 1.4rem;
}

ol, ul { margin: 0; }

:is(ol, ul) {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

:is(ol, ul) :is(ol, ul) {
    margin-top: -.3rem;
    margin-bottom: -.3rem;
}

#write :is(ol, ul) > li {
  margin-top: -.3rem;
  margin-bottom: -.3rem;
}

/* blockquote{
  border-radius:var(--border-radius);
} */

blockquote {
  position: relative;
  border-radius:3px;
  margin:1.5rem 0 1.5rem .5rem;
  padding:var(--blockquote-padding);
  border-width:0;
  border-color:transparent;
  background:var(--background-color);
  color:var(--blockquote-color);
}
blockquote::before {
  position: absolute;
  left:0;
  top:0;
  content:"";
  border-radius:2px;
  width:4px;
  height:100%;
  margin:0;
  padding:0;
  border-width:0;
  border-color:transparent;
  background:var(--color-primary);
}

input[checked] + * {
    text-decoration:none;
}

/* Dark Mode (OS-level) */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --blue:var(--blue-400);
    --red:var(--red-400);
    --green:var(--green-400);
    --orange:var(--amber-400);
    --purple:var(--violet-400);

    --color-primary:var(--blue-400);
    --text-color:#e0e0e0;
    --heading-color:#e0e0e0;
    --strong-color:#e0e0e0;
    --background-color:#1e1e1e;
    --marked-background:var(--green-400);
  }
}
