:root {
  --color-primary:var(--red-500);
  --font-family:"Bear Sans UI", system, -apple-system, sans-serif;
  --font-family-mono:"JetBrains Mono", ui-monospace, "Menlo", monospace;
  /* --font-size: 15px; */
  --font-size-mono:0.92em;
  --modular-scale:1.25;
  --text-color:var(--mono-700);
  --heading-color:var(--mono-700);
  --strong-color:var(--mono-700);
  --hr-height:1px;
  --counter-color:var(--color-primary);
  --marker-color:var(--color-primary);
  --marked-background:var(--green-300);
  --max-width:100ch;
  --blockquote-padding:.5rem 1.5rem .5rem 2rem;
}

#write { caret-color:var(--color-primary); }

#write > :last-child { margin-bottom:550px; }

.md-hr {
  margin-top:3rem;
  margin-bottom:3rem;
}

p { margin: 0; }

h1 { margin-bottom: 2rem; }
h2 { margin-bottom: 1.7rem; }
h3 { margin-bottom: 1.4rem; }
h4 { margin-bottom: 1.1rem; }
h5 { margin-bottom: .8rem; }
h6 { margin-bottom: .5rem; }

ol, ul { margin: 0; }

:is(ol, ul) {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

:is(ol, ul) :is(ol, ul) {
    margin-top: -.3rem;
    margin-bottom: -.3rem;
}

#write :is(ol, ul) > li {
  margin-top: -.3rem;
  margin-bottom: -.3rem;
}

/* blockquote{
  border-radius:var(--border-radius);
} */

blockquote {
  position: relative;
  border-radius:3px;
  margin:1.5rem 0 1.5rem .5rem;
  padding:var(--blockquote-padding);
  border-width:0;
  border-color:transparent;
  background:var(--background-color);
  color:var(--blockquote-color);
}
blockquote::before {
  position: absolute;
  left:0;
  top:0;
  content:"";
  border-radius:2px;
  width:4px;
  height:100%;
  margin:0;
  padding:0;
  border-width:0;
  border-color:transparent;
  background:var(--color-primary);
}

/* Dark Mode (OS-level) */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-primary:var(--blue-400);
    --text-color:var(--blue-100);
    --heading-color:var(--blue-100);
    --strong-color:var(--blue-100);
    --background-color:#222;
    --marked-background:var(--green-400);
  }
}
